.movie-app{
  display:inline-flex;
  flex-direction:row;
  height:250px;
  width: 100%;
  box-sizing:border-box;
  overflow-x:scroll;
}

#searchList{
  margin: 0 auto;
  width: 90%;
}

.searchMovie{
  margin: 0 auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  min-width: 20%;
  justify-content:space-between;
}
.searchMovie::after {
  content: "";
  flex: auto;
  margin-left: 20px;
}

.searchMovie img{
  width: 100%;
}

/* valerie added */
.movie-card{
  display:flex;
  flex-direction:column;
  /* width:100%; */
}


.movie-app img{
  height:90%;
}

.actor-card{
  margin-top:10px;
  flex: none;
  height: 150px;
  width: 150px;
  overflow:hidden;
  border-radius:50%;
  margin-right: 30px;
}

.actor-card img{
  object-fit:cover;
  height: 100%;
  width: 100%;
}


.addFav{
  flex:flex-wrap;
  overflow-wrap:normal;
  height:10%;
  color:black;
}
/****************/

.image-container {
  position: relative;
  transition: transform 0.2s;

}
 .image-container:hover {
   cursor: pointer;
   transform: scale(1.1);
 }

 .image-container:hover .overlay {
   opacity: 1;
 }

.overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;


} */
/**********************Yuliia************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#header-bg{
  background: linear-gradient(90deg, rgba(106,11,10,.6), rgba(11,23,53,.6)),url(./components/Header/popcornpic.jpeg);
  background-size:cover;
  background-position:center;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}


header {
  height: 200px;
}

header img {
  width: 400px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 30px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

/**********************/
#page_content{
  width: 80%;
  overflow:hidden;
  margin: 0 auto;
}

.section_header{
  color:black;
  font-size: 25px;
  margin-top: 1em;
}
/***********************/
@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}