.FooterItems {
   background-color: rgb(65, 64, 64);
   text-align: center;
   padding: 20px;
   position: fixed;
   left: 0;
   bottom: 0;
   height: 65px;
   width: 100%;
}
.fa-github, .fa-facebook, .fa-twitter, .fa-instagram, .fa-youtube{
    color: lightgray;
}
