* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.center {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.welcome {
    display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6A0B0A;
}

.search-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6A0B0A;
    width: 100%;
}
.i-search {
    width: 35%;
    height: 33%;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: grey;
}

.btn-search {
    height: 33%;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: grey;
}
